<div class="toggle-tema-flotante">
    <label class="toggle-tema" for="boton-tema">
        <input type="checkbox" id="boton-tema">
        <span class="toggle-track" id="toggle-track"></span>
        <span class="toggle-thumb" id="toggle-thumb">🌙</span>
    </label>
</div>